html, body {
	width: 100%;
	height: 100%;
	position: absolute;
	style: none;
	margin: 0;
	overflow: hidden;
}

.authentication-div {
	margin: 0;
	color: #6a6f8c;
	background: #c8c8c8;
	font: 600 16px/18px 'Open Sans', sans-serif;
}

*, :after, :before {
	box-sizing: border-box
}

.clearfix:after, .clearfix:before {
	content: '';
	display: table
}

.clearfix:after {
	clear: both;
	display: block
}

a {
	color: inherit;
	text-decoration: none
}

.login-wrap {
	width: 100%;
	margin: auto;
	max-width: 525px;
	min-height: 670px;
	position: relative;
	background:
		url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg)
		no-repeat center;
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0
		rgba(0, 0, 0, .19);
}

.login-html {
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 90px 70px 50px 70px;
	background: rgba(40, 57, 101, .9);
}

.login-html .sign-in-htm, .login-html .sign-up-htm {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}

.login-html .tab, .login-form .group .label, .login-form .group .button
	{
	text-transform: uppercase;
}

.login-html .tab {
	font-size: 22px;
	margin-right: 15px;
	padding-bottom: 5px;
	margin: 0 15px 10px 0;
	display: inline-block;
	border-bottom: 2px solid transparent;
}

.login-html .tab.active {
	color: #fff;
	border-color: #1161ee;
}

.login-form {
	min-height: 345px;
	position: relative;
	perspective: 1000px;
	transform-style: preserve-3d;
}

.login-form .group {
	margin-bottom: 15px;
}

.login-form.register-form .group {
	margin-bottom: 5px;
}

.login-form .group .label, .login-form .group .input, .login-form .group .button
	{
	width: 100%;
	color: #fff;
	display: block;
}

.login-form .group .label {
	color: #aaa;
	font-size: 12px;
}

.login-form .group .input, .login-form .group .button {
	border: none;
	padding: 15px 20px;
	border-radius: 25px;
	background: rgba(255, 255, 255, .1);
}

.login-form .group input[data-type="password"] {
	text-security: circle;
	-webkit-text-security: circle;
}

.login-form .group .button {
	background: #1161ee;
}

.login-form .group label .icon {
	width: 15px;
	height: 15px;
	border-radius: 2px;
	position: relative;
	display: inline-block;
	background: rgba(255, 255, 255, .1);
}

.hr {
	height: 2px;
	margin: 60px 0 50px 0;
	background: rgba(255, 255, 255, .2);
}

.foot-lnk {
	text-align: center;
}

.ui-state-disabled {
	opacity: 0.65;
	cursor: not-allowed;
}

.topbar {
	position: absolute;
	background-color: #fff;
	z-index: 100;
	border-bottom: 1px solid #d3d7d8;
	min-height: 50px;
	width: 100%;
	font-size: 100%;
	height: 8%;
}

.row {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 71.25em;
	height: 100%;
}

.nav li {
	font-size: 15px;
	line-height: normal;
	list-style: none;
	float: left;
	font-family: 'Open Sans', sans-serif;
	color: #474e5d;
	font-weight: 700;
	text-decoration: none;
	width: 20%;
}

.columns {
	float: left;
	position: relative;
	padding-left: 0.9375em;
	padding-right: 0.9375em;
	height: 100%
}

.row .row:before, .row .row:after {
	content: " ";
	display: table;
}

.large-4 {
	width: 35%;
}

.large-8 {
	width: 65%;
}

.ui-widget-content .ui-icon {
	background-image: url(../images/tab_right.png);
	width: 16px;
	height: 16px;
}

#logo {
	margin-top: 5%;
}

.tree-form {
	position: absolute;
	top: 0;
	left: 0;
	width: 20%;
	height: 100%;
}

#content {
	position: absolute;
	top: 10%;
	width: 100%;
	height: 84%;
}

.tabView {
	position: absolute !important;
	bottom: 0%;
	height: 100% !important
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 8%;
	border-top: 1px solid #d3d7d8;
	background-color: #474e5d;
	color: #bdc3c7;
}

#footer p {
	margin-top: 1.5%;
	font-family: 'lato', sans-serif;
	font-weight: 900;
	font-size: 15px;
}

#delimiter {
	position: absolute;
	width: 1px;
	height: 90%;
	background-color: #34495e;
	left: calc(100% - 1px);
	top: 5%;
}

.center {
	text-align: center;
}

.ui-tree .ui-tree-selectable .ui-treenode-label, .ui-tree .ui-tree-selectable .ui-treenode-icon
	{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #474e5d;
	font-weight: 300;
	padding: 1%;
	margin: 0;
}

.ui-tree {
	margin-top: 11%;
	margin-left: 5%;
}

.ui-button:focus {
	outline: none;
}

.ui-tabs .ui-tabs-nav li a:focus {
	outline: none !important;
}

.ui-tabs.ui-tabs-top>.ui-tabs-nav li {
	border: 1px solid rgba(40, 44, 42, 0.1) !important;
	border-right: none !important;
	box-sizing: border-box !important;
	position: relative !important;
}

.ui-tabs .ui-tabs-nav li a {
	padding: 0.65em 1em 0.5em !important;
	background: rgba(40, 44, 42, 0.05) !important;
	font-weight: 300 !important;
	font-size: 1em !important;
	color: #74777b !important;
	font-family: 'Lato', sans-serif;;
}

.ui-tabs .ui-tabs-nav li.ui-state-hover, .ui-tabs .ui-tabs-nav li.ui-state-active
	{
	color: #ea6153 !important;
	border-top-color: #ea6153 !important;
	border-bottom: none !important;
}

.ui-tabs .ui-tabs-nav li.ui-state-hover a, .ui-tabs .ui-tabs-nav li.ui-state-active a
	{
	background: none !important;
	box-shadow: inset 0 3px 0 #ea6153 !important;
	color: #ea6153 !important;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.ui-widget-content {
	color: #222;
}

.ui-widget a {
	font-family: 'Open Sans', sans-serif;
	color: #474e5d;
	font-weight: 700;
	text-decoration: none;
	font-size: 90%;
}

.ui-tabs .ui-tabs-nav>li.ui-state-default.ui-state-active {
	background: #fff;
	font-weight: normal;
	color: #555;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
	{
	border: 1px solid #bebebe;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
	border-top-right-radius: 3px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
	border-top-left-radius: 3px;
}

.ui-tabs.ui-tabs-top>.ui-tabs-nav {
	position: absolute;
	right: 0;
	height: 5%;
	top: -45px;
	z-index: 1000;
	padding: 0 !important;
}

.tabView .ui-tabs-panels, .tabView .ui-tabs .ui-tabs-panel, .tabView .ui-tabs-panel td
	{
	position: absolute;
	width: 98%;
	height: 100%;
	padding: 0;
}

.ui-tabs-panel td:nth-child(2) {
	display: none;
}

.ui-tabs {
	width: 100%;
	position: absolute;
	height: 100%;
	padding: 0;
}

#search {
	position: relative;
	float: left;
	margin-right: 23%;
}

#search input[type="text"] {
	background: url(../images/search-white.png) no-repeat 10px 6px #fcfcfc;
	border: 1px solid #d1d1d1;
	font: bold 12px Arial, Helvetica, Sans-serif;
	color: #2d3544; /* #bebebe; */
	width: 250px;
	padding: 6px 15px 6px 35px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
	-webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
}

/* #search input[type="text"]:focus {
	width: 250px;
} */
.category-description {
	position: absolute;
	top: 25%;
	left: 25%;
	width: 75%;
	height: 50%;
}

.categories-header {
	position: absolute;
	top: 5%;
	left: 25%;
	width: 75%;
	height: 10%;
}

.category-description input[type="text"] {
	position: relative;
	width: 61%;
	float: left;
	margin-bottom: 3%;
	border-radius: 0;
}

.category-description textarea {
	position: relative;
	float: left;
	width: 61%;
	height: 80% !important;
}

.category-save {
	position: absolute;
	top: 75%;
	left: 25%;
	width: 75%;
}

.category-button {
	margin-right: 1%;
}

.category-breadcrumb {
	position: absolute;
	top: 15%;
	left: 25%;
	height: 10%;
}

.category-breadcrumb .ui-icon-home {
	background-image: url(../images/gnome_go_home.png);
}

.ui-tree .ui-treenode-label.ui-state-hover, .ui-tree .ui-treenode-label.ui-state-highlight
	{
	background-color: #34495e;
	color: white;
	border-radius: 0;
	width: 95%;
	padding: 1% 1%;
}

.ui-icon.ui-icon-closethick {
	background-image: url(../images/dialog_close.png);
}

.ui-dialog {
	background-color: white;
	width: 50% !important;
	left: 25% !important;
}

.tabView .ui-dialog .ui-datagrid-column td, .ui-datatable,
	.ui-datatable-data td {
	height: auto !important;
	width: auto !important;
	position: relative !important;
	border: none !important;
}

.ui-datatable-data td:nth-child(2), .tabView .ui-tabs-panel .ui-dialog td:nth-child(2)
	{
	display: block !important;
}

.tabView .ui-datatable, .tabView .ui-button {
	font-family: 'Helvetica Neue', Helvetica, Arial;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	color: #3b3b3b;
	font-weight: 400;
	line-height: 20px;
	font-size: 14px;
	border: none;
	text-align: center;
}

.category-save .ui-button .ui-button-text {
	background-color: #34495e !important;
}

.tabView .ui-datatable thead th, .tabView .ui-button .ui-button-text {
	/*background: #f6f6f6;*/
	border: none !important;
	color: #ffffff;
	background: #ea6153;
}

.ui-datatable thead th {
	font-weight: 900;
}

.ui-widget-content .ui-datatable .ui-sortable-column-icon.ui-icon {
	background-image: url(../images/arrow-204-16.png) !important;
	width: 16px;
	height: 16px;
}

.items-header {
	position: absolute;
	width: 100%;
	height: 10%;
}

.items-content {
	position: absolute;
	width: 100%;
	height: 80%;
	top: 10%;
}

.itemsDropDown td {
	position: relative !important;
	width: auto !important;
	height: auto !important;
}

.itemsDropDown tr {
	float: left;
}

.ui-selectonemenu-panel .ui-selectonemenu-list {
	background-color: white;
}

.ui-selectonemenu-panel .ui-selectonemenu-list li:hover,
	.ui-selectonemenu-panel .ui-selectonemenu-list li.ui-state-highlight {
	background-color: #474e5d;
	color: white;
}

.ui-dialog .ui-panel-content .ui-tree {
	margin-top: 0 !important;
	margin-left: 0 !important;
}

.tabView .ui-tabs-panel .ui-dialog td {
	position: relative !important;
	width: auto !important;
	height: auto !important;
	display: block !important;
}

.abandon_img {
	background: white url('../images/cancel.png') no-repeat;
	width: 16px;
	height: 16px;
	padding: 0 20px;
}

.edit_img {
	background: white url('../images/pen.png') no-repeat;
	width: 16px;
	height: 16px;
	padding: 0 20px;
}

.close_img {
	background: white url('../images/dialog_close.png') no-repeat;
	width: 16px;
	height: 16px;
	padding: 0 20px;
}

.save_img {
	background: white url('../images/check.png') no-repeat;
	width: 16px;
	height: 16px;
	padding: 0 20px;
}

.ui-button.abandon_img span, .ui-button.edit_img span, .ui-button.close_img span,
	.ui-button.save_img span {
	display: none;
}

.ui-widget-content.ui-datatable-odd {
	background-color: #f4f4f4;
}

.ui-widget-content.ui-datatable-odd .ui-button {
	background-color: #f4f4f4;
}

.tabView .ui-datatable td:LAST-CHILD {
	text-align: left;
}

#ui-datepicker-div {
	background-color: #f4f4f4 !important;
}

.ui_tpicker_second, .ui_tpicker_minute, .ui_tpicker_hour {
	position: relative;
	text-align: left;
	background: #838688;
	border: 0;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6) inset;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6) inset;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6) inset;
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 16px !important;
	height: 16px !important;
	cursor: default;
	background: url(../images/circle_grey.png) 0 0 no-repeat;
	outline: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: 0;
}

.ui-selectonemenu .ui-selectonemenu-label {
	background-color: #34495e;
	color: #fff;
	font-size: inherit;
	padding: -0.5em;
	padding-right: 2.5em;
	border: 0;
	margin: 0;
	border-radius: 3px;
	text-indent: 0.01px;
	text-overflow: '';
	-webkit-appearance: button;
}

.ui-selectonemenu {
	padding-right: 0 !important;
	width: 180px !important;
}

.ui-icon.ui-icon-triangle-1-s.ui-c {
	background: url(../images/arrow-204-16.png) 0 0 no-repeat;
	width: 16px !important;
	height: 16px !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
	padding: 0 !important;
	width: 25px;
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
	margin-top: 7px;
}

.ui-button-text-only .ui-button-text {
	padding: 0.6em 5em;
}

.ui-selectonemenu-label.ui-inputfield {
	padding: 6px !important;
}

.editItem-form .ui-tree {
	margin-top: 0 !important;
	margin-bottom: 2% !important;
}

.ui-datatable .ui-selectonemenu .ui-selectonemenu-label {
	color: #2d3544;
	background-color: #fff;
}

.ui-datatable .ui-icon.ui-icon-triangle-1-s.ui-c {
	background: url(../images/arrow-204-16-red.png) 0 0 no-repeat;
	width: 16px !important;
	height: 16px !important;
}

.ui-datatable .ui-selectonemenu-panel .ui-selectonemenu-list li:hover,
	.ui-datatable .ui-selectonemenu-item.ui-selectonemenu-list-item.ui-corner-all.ui-state-highlight
	{
	background-color: #ea6153 !important;
}

.ui-icon.ui-icon-seek-end {
	background: url(../images/arrow_right_double.png) 0 0 no-repeat
		!important;
	width: 16px !important;
	height: 16px !important
}

.ui-icon.ui-icon-seek-next {
	background: url(../images/arrow_right.png) 0 0 no-repeat !important;
	width: 16px !important;
	height: 16px !important
}

.ui-icon.ui-icon-seek-prev {
	background: url(../images/arrow_right.png) 0 0 no-repeat !important;
	width: 16px !important;
	height: 16px !important;
	-webkit-transform: rotate(180deg);
	/* Chrome and other webkit browsers */
	-moz-transform: rotate(180deg); /* FF */
	-o-transform: rotate(180deg); /* Opera */
	-ms-transform: rotate(180deg); /* IE9 */
	transform: rotate(180deg); /* W3C compliant browsers */
}

.ui-icon.ui-icon-seek-first {
	background: url(../images/arrow_right_double.png) 0 0 no-repeat
		!important;
	width: 16px !important;
	height: 16px !important;
	-webkit-transform: rotate(180deg);
	/* Chrome and other webkit browsers */
	-moz-transform: rotate(180deg); /* FF */
	-o-transform: rotate(180deg); /* Opera */
	-ms-transform: rotate(180deg); /* IE9 */
	transform: rotate(180deg); /* W3C compliant browsers */
}

.bidding-form {
	width: 75%;
	left: 24%;
	position: absolute;
	top: 5%;
}

.bidding-form thead {
	display: none;
}

.bidding-form tbody {
	margin-top: 15px !important;
}

.ui-paginator.ui-paginator-top.ui-widget-header.ui-corner-top {
	display: none;
}

.ui-fieldset-content td {
	position: relative !important;
}

.ui-tree-container {
	overflow: auto !important;
	max-height: 99% !important;
}

.category-description-bidding {
	display: block;
	position: absolute;
	left: 0.4%;
	bottom: 5%;
	width: 19%;
	border: 1px solid #34495e;
	padding: 1%;
	max-height: 39%;
	border-radius: 5px;
	height: 39%;
	top: auto !important;
	position: absolute;
}

.category-description-label {
	position: absolute;
	top: -5%;
	background-color: white;
	padding: 5px;
}

.hidden {
	border: 1px solid #black;
}

.tree {
	height: 50%;
	border: 1px solid black;
	width: 95%;
	position: absolute;
	left: 2%;
	margin-left: 0;
}

.ui-tree .ui-treenode {
	width: 95%;
}

.ui-treenode-content.ui-tree-selectable .ui-tree-toggler.ui-icon.ui-icon-triangle-1-s
	{
	-webkit-transform: rotate(90deg);
	/* Chrome and other webkit browsers */
	-moz-transform: rotate(90deg); /* FF */
	-o-transform: rotate(90deg); /* Opera */
	-ms-transform: rotate(90deg); /* IE9 */
	transform: rotate(90deg); /* W3C compliant browsers */
}

.bidding-form .ui-widget-content.ui-datatable-even td {
	background-color: #34495e;
	color: white !important;
}

.bidding-form .ui-widget-content.ui-datatable-even td  .ui-panel-title {
	color: white !important;
	border-bottom: 1px solid #fff;
}

.bidding-form .ui-widget-content.ui-datatable-odd td  .ui-panel-title {
	border-bottom: 1px solid #34495e;
}

.bidding-form .ui-widget-content.ui-datatable-even td  .ui-panel-title:hover,
	.bidding-form .ui-widget-content.ui-datatable-odd td  .ui-panel-title:hover
	{
	color: #ea6153 !important;
	border-bottom: 1px solid #ea6153;
}

.bidding-form .ui-panel-title {
	cursor: pointer;
	font-size: 20px;
}

.itemDetails-form  .ui-panel-title {
	font-size: 24px;
	font-weight: 500;
}

.bidding-form .ui-widget-content tr:NTH-CHILD(1) {
	width: 10%;
}

.bidding-form .ui-widget-content tr:NTH-CHILD(2) {
	width: 80%;
}

.bidding-form .ui-widget-content tr:NTH-CHILD(3) {
	width: 10%;
}

.items-image {
	display: block;
	max-width: 100px;
	width: auto;
	height: auto;
	padding: 0;
	padding-left: 1%;
}

.bidding-form .ui-panel-content.ui-widget-content tr {
	float: left;
}

.bidding-form .ui-widget-content.ui-datatable-odd {
	background-color: #fff;
}

.bidding-form .ui-datatable table, .itemDetails-form table {
	margin-top: 15px !important;
}

.ui-panel .ui-panel-titlebar {
	height: 0px !important;
	padding: 0 !important;
}

.bidding-details tr {
	width: 100% !important;
}

.tabView .bidding-details td {
	float: right !important;
}

.itemDetails-form table tr {
	float: left;
}

.itemDetails-form table, .itemDetails-form table tbody {
	width: 100%;
}

.itemDetails-form table tr:NTH-CHILD(1) {
	width: 15%;
}

.itemDetails-form table tr:NTH-CHILD(2) {
	width: 85%;
}
.bidding-details div{
	width: 100%;
	float:left;
}

.bidding-details div div {
	width: 50%;
	float: left;
	margin-top: 15px;
}

.bidding-details div div:FIRST-CHILD span {
	margin-left: 55%;
	font-size: 20px;
	font-weight: 400;
}
.item-details-buttons{
	margin-top: 50px;
	float: left;
	width: 100%;
}
div .ui-button:FIRST-CHILD{
	margin-left: 25%;
	margin-bottom: 3%;
	margin-right: 5%;
}
div .ui-button span:hover{
	background-color: #34495e !important;
}
